.dt-icon-box-6 .app_icon i{font-size:50px !important;color:#81d742 !important;}
.dt-icon-box-6 .app_icon{background-color:#1e73be !important;}
.dt-icon-box-6 h3{font-size:46px; color:#31b527;line-height:91px;}
.dt-icon-box-6 .description{color:#dd3333 !important;line-height:91px !important;}
