.position-absulate{
    position: absolute;
}
.dot_shap{
    border-radius: 50%;
    z-index: -1;
}
.dot_shap.blue {
    width: 80px;
    height: 80px;
    background: #6083f6;
    top: 300px;
    left: -40px;
}
.dot_shap.purple {
    width: 55px;
    height: 55px;
    background: #b876ff;
    left: 100px;
    top: 350px;
}
.dot_shap.red {
    width: 32px;
    height: 32px;
    background: #ff7388;
    left: 50px;
    top: 430px;
}
.image-right {
  margin-left: auto;
}
.image-center {
    margin: auto;
  }