.vc-scroll-to-section.bottom_btn{
    position: initial;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}
.overflow-visibale{
    
      overflow: visible !important;
    
    }
.background-attachme-fix{
    
    background-attachment: fixed !important;
}
.vc-section-intro .saas_banner_content{
  height: initial !important;
  }
  
.vc-section-intro{
background-image: linear-gradient( 
45deg
, rgba(53, 11, 137, .85) 0%, rgba(95, 20, 164, .85) 100%) !important;
}
   
.height-initial, 
.height-initial .saas_banner_content{
  height: initial;
}

.dd-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dd-inline-flex{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.dd-align-item-center{
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.startup_btn i{
  margin-right: 5px;
}
.startup_btn.icon-right i{
  margin-left: 5px;
}