.pop-up{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0 ,0, 0, .8);
    width: 100%;
    z-index: 99999;
    display: none;
}
.vidoe-content{
    line-height: 0;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    -webkit-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
            transform: translateY(-70%);
}
.close-vidoe-modal{
    position: absolute;
    right: 0;
    top: -20px;
    color: #fff;
    font-size: 31px;
    opacity: .8;
}
.close-vidoe-modal:hover{
    opacity: 1;
}
.show-video-pupup{
    width: 72px;
    height: 72px;
    background: #35b7e1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #fff;
}
.show-video-pupup:hover{
    background: #fff;
    color: #35b7e1;
}
.show-video-pupup i{
    transition: all .4s;
}